<!DOCTYPE html>
<!-- Doc at https://developer.mozilla.org/fr/docs/Web/HTML/Quirks_Mode_and_Standards_Mode -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="images/favicon.png" />
    <link rel="apple-touch-icon" href="images/favicon.png" />
    <title>ProtoDecoderUI</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <script
      type="text/javascript"
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
    ></script>
    <script src="https://kit.fontawesome.com/13b744953d.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script src="json-viewer/jquery.json-viewer.js"></script>
    <link
      href="json-viewer/jquery.json-viewer.css"
      type="text/css"
      rel="stylesheet"
    />
  </head>
  <body class="p-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col" style="padding-bottom: 40px">
          <div class="card">
            <h4 class="card-header">
              <div class="title-proto">ProtoDecoderUI</div>
              <div class="icons">
                <i class="fas fa-play" id="play-button"></i>
                <i class="fas fa-pause" id="pause-button"></i>
                <i class="fas fa-trash" id="clear-button"></i>
              </div>
            </h4>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">Filters</div>
                <div class="col-md-12">
                  <label for="instance-filter">Instance</label>
                  <input
                    type="text"
                    id="instance-filter"
                    placeholder="Instance name"
                  />
                  <label for="instance-filter-dropdown">Found Instances:</label>
                  <select id="instance-filter-dropdown">
                    <option value=""></option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm">
                  <div>
                    <label for="blacklist-ids-incoming"
                      >Blacklist Methods</label
                    >
                  </div>
                  <div>
                    <input
                      type="text"
                      id="blacklist-ids-incoming"
                      value=""
                      style="width: 100%"
                      placeholder="5026,1601,1103,..."
                    />
                  </div>
                </div>
                <div class="col-sm">
                  <div>
                    <label for="maxlogs">Maxlogs</label>
                  </div>
                  <div>
                    <input
                      type="number"
                      id="maxlogs"
                      value=""
                      style="width: 100%"
                      placeholder="150"
                    />
                  </div>
                </div>
              </div>
              <table
                id="data_socket"
                class="table table-striped table-hover table-bordered rounded-lg"
                style="width: 100%; margin-top: 10px"
              >
                <thead>
                  <tr>
                    <th>Instance</th>
                    <th>Method</th>
                    <th>Method Name</th>
                    <th>Sended Data</th>
                    <th>Received Data</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-detail" class="modal" tabindex="-1" role="dialog">
      <div
        class="modal-dialog"
        style="max-width: 80% !important"
        role="document"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Method id: <span class="method-id"></span>
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Method name: <span class="method-name"></span></p>
            <p>Incoming data:</p>
            <pre class="method-data-incoming"></pre>
            <p>Outgoing data:</p>
            <pre class="method-data-outgoing"></pre>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <a href="https://github.com/RaizeTheLimit/ProtoDecoderUI" target="_blank"
        >ProtoDecoderUI</a
      >
      -
      <a href="https://github.com/Furtif" target="_blank">--=FurtiF™=--</a>
      ©2016-2024
    </div>
    <script>
      class IncomingMessage {
        constructor(id, obj) {
          this.id = id;
          this.data = obj.data;
          this.identifier = obj.identifier;
          this.methodId = obj.methodId;
          this.methodName = obj.methodName;
          this.responseHtmlElement = null;
          this.response = null;
        }
        setResponse(obj) {
          this.response = obj;
        }
      }
      var STATE = 0;
      setStateOnButtons();
      var incoming = io.connect("/incoming"),
        outgoing = io.connect("/outgoing");
      let incomingProtocolId = 0;
      let maxLogs = 100;
      let messages = [];
      let foundInstances = [];
      let instanceFilter = "";
      let incomingBlacklistIds = [];
      incoming.on("protos", function (data) {
        if (foundInstances.indexOf(data.identifier) === -1) {
          foundInstances.push(data.identifier);
          appendFoundName(data.identifier);
        }
        if (STATE !== 1) {
          return;
        }
        if (instanceFilter == "" || data.identifier !== instanceFilter) {
          return;
        }
        if (incomingBlacklistIds.length > 0) {
          if (incomingBlacklistIds.indexOf(data.methodId) !== -1) {
            return;
          }
        }
        if (typeof data.error !== "undefined") {
          console.error(data.error);
        } else {
          incomingProtocolId++;
          const message = new IncomingMessage(incomingProtocolId, data);
          messages.push(message);
          const tr = document.createElement("tr");
          tr.setAttribute("id", message.id);
          const parameters = [
            "identifier",
            "methodId",
            "methodName",
            "data",
            null,
          ];
          parameters.forEach((el) => {
            const td = document.createElement("td");
            if (el != null) {
              if (el == "data") td.innerHTML = objectToReadable(message[el]);
              else td.innerText = message[el];
            } else {
              td.innerText = "Waiting data...";
              message.responseHtmlElement = td;
            }
            tr.appendChild(td);
          });
          $("#data_socket tbody").prepend(tr);
          if ($("#data_socket tbody").children().length > maxLogs)
            $("#data_socket tbody").children().last().remove();
        }
      });
      outgoing.on("protos", function (data) {
        if (foundInstances.indexOf(data.identifier) === -1) {
          foundInstances.push(data.identifier);
          appendFoundName(data.identifier);
        }
        if (STATE !== 1) {
          return;
        }
        if (incomingBlacklistIds.length > 0) {
          if (incomingBlacklistIds.indexOf(data.methodId) !== -1) {
            return;
          }
        }
        if (instanceFilter == "" || data.identifier !== instanceFilter) {
          return;
        }
        if (typeof data.error !== "undefined") {
          console.error(data.error);
        } else {
          const incomingMessage = messages.filter(
            (message) =>
              message.methodId == data.methodId && message.response == null
          )[0];
          if (incomingMessage == null)
            return console.error(
              `Impossible to get incoming message for response: [${data.methodId}] ${data.methodName}.`
            );
          incomingMessage.response = data;
          incomingMessage.responseHtmlElement.innerHTML = objectToReadable(
            data.data
          );
        }
      });
      $("#data_socket tbody").on("click", "tr", function () {
        const message = messages.filter((msg) => msg.id == $(this)[0].id)[0];
        if (message == null) return;
        $("#modal-detail").find(".method-id").html(message.methodId);
        $("#modal-detail").find(".method-name").html(message.methodName);
        $("#modal-detail")
          .find(".method-data-incoming")
          .jsonViewer(message.data);
        $("#modal-detail")
          .find(".method-data-outgoing")
          .jsonViewer(message.response.data);
        $("#modal-detail").modal();
      });
      $("#play-button").click(function () {
        STATE = 1;
        setStateOnButtons();
        storeSettings();
      });
      $("#pause-button").click(function () {
        STATE = 0;
        setStateOnButtons();
        storeSettings();
      });
      $("#clear-button").click(function () {
        clearTable();
      });
      function clearTable() {
        $("#data_socket tbody tr").remove();
        messages = [];
      }
      function setStateOnButtons() {
        let id = "";
        let idDisabled = "";
        switch (STATE) {
          case 0:
            id = "play-button";
            idDisabled = "pause-button";
            break;
          case 1:
            id = "pause-button";
            idDisabled = "play-button";
            break;
        }
        $("#" + id).css("color", "#000000");
        $("#" + idDisabled).css("color", "#888888");
      }
      function appendFoundName(name) {
        const option = document.createElement("option");
        option.setAttribute("name", name);
        option.textContent = name;
        $("#instance-filter-dropdown").append(option);
        if (instanceFilter == name) $("#instance-filter-dropdown").val(name);
      }
      function objectToReadable(object) {
        let dataStrings = [];
        let numberOfRows = 0;
        for (let key in object) {
          if (numberOfRows >= 10) {
            dataStrings.push("...");
            break;
          }
          let value;
          if (typeof object[key] === "object") {
            value = JSON.stringify(object[key]);
          } else {
            value = object[key];
          }
          if (value.length > 60) {
            value =
              value.substr(0, 10) + "..." + value.substr(value.length - 10);
          }
          numberOfRows++;
          dataStrings.push(`${key}: ${value}`);
        }
        return dataStrings.join("<br>");
      }
      $("#instance-filter-dropdown").change(function () {
        $("#instance-filter").val($(this).val());
        $("#instance-filter").keyup();
      });
      $("#instance-filter").keyup(function () {
        clearTable();
        instanceFilter = $(this).val();
        storeSettings();
      });
      $("#blacklist-ids-incoming").keyup(function () {
        incomingBlacklistIds =
          $(this).val() === ""
            ? []
            : $(this)
                .val()
                .split(",")
                .map((x) => parseInt(x));
        storeSettings();
      });
      $("#maxlogs").keyup(function () {
        if (isNaN(parseInt($(this).val()))) return $(this).val("");
        clearTable();
        maxLogs = parseInt($(this).val());
        storeSettings();
      });
      function loadSettings() {
        let settingsJson = localStorage.getItem("settings");
        if (settingsJson !== null) {
          const settings = JSON.parse(settingsJson);
          (STATE = parseInt(settings["STATE"])),
            (instanceFilter = settings["instanceFilter"]),
            (incomingBlacklistIds = settings["incomingBlacklistIds"]);
          if (settings["maxLogs"] != null && !isNaN(parseInt(maxLogs)))
            maxLogs = parseInt(settings["maxLogs"]);
          if (STATE === 1) {
            $("#play-button").click();
          }
          $("#instance-filter").val(instanceFilter);
          $("#blacklist-ids-incoming").val(incomingBlacklistIds.join(","));
        }
        $("#maxlogs").val(maxLogs);
      }
      loadSettings();
      function storeSettings() {
        localStorage.setItem(
          "settings",
          JSON.stringify({
            STATE: STATE,
            instanceFilter: instanceFilter,
            incomingBlacklistIds: incomingBlacklistIds,
            maxLogs: maxLogs,
          })
        );
      }
    </script>
  </body>
</html>
